/* Navigation.css */
.navigation-container {
  width: 800px;
  margin: 0 auto 24px auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.navigation-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}

.navigation-tabs .MuiTabs-indicator {
  height: 4px;
  border-radius: 2px 2px 0 0;
}